@CHARSET "EUC-KR";
table{
	font-size: 11pt;	
}
#content_table, .button_table{
	border-collapse: collapse;
	width: 700px;
	margin: 0px;
}
#content_table{
	border-bottom: 2px solid black;
	border-top: 2px solid black;	
}
#content_table th{
	background-color: #77c4ec;
	color: #fff;
	border-bottom: 1px solid #333;
	text-align: center;
	font-weight: bolder;
}
#content_table td{
	border-bottom: 1px solid #666;
	text-align: center;
}
#content_table tr:HOVER {
	background-color: #d8eefa;
}
#content_table tr:NTH-CHILD(odd){
	background-color: #d8eefa;
}
#content_table #left_td{
	text-align: left;
}
form, select, option{
	font-weight: bolder;
}
a{
	text-decoration: none;
	color: black;
}
a:HOVER{
	color: green;
}